body {
  margin-top: 2em;
}

.address {
  text-transform: uppercase;
  font-size: 90%;
}

.organization {
  font-size: 50%;
  vertical-align: middle;
}

.controls {
  opacity: 0.5;
  font-size: 0.5em;
}
