<div class="container">
  <div class="row">
    <h1>Add new blog post</h1>
  </div>

  <form ng-submit="addPost($event)">
    <div class="row">
      <h3>Author</h3>
      <div class="form-group col-md-4">
        <label for="author">Author</label>
        <select id="author_id" ng-model="author_id" class="form-control" required="true">
          <option ng-repeat="author in authors" value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <h3>Post</h3>
      <div class="form-group col-md-8">
        <label for="post_title">Title</label>
        <input id="post_title" ng-model="post_title" type="text" class="form-control" required="true" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8">
        <label for="post_abstract">Abstract</label>
        <textarea id="post_abstract" ng-model="post_abstract" class="form-control"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8">
        <label for="post_body">Body</label>
        <textarea id="post_body" ng-model="post_body" class="form-control" rows="10" required="true"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8">
        <label for="post_tags">Tags (comma-separated)</label>
        <input id="post_tags" ng-model="post_tags" type="text" class="form-control" />
      </div>
    </div>
    <button name="create" type="submit" class="btn btn-default">Create</button>
  </form>
</div>
